@import '../../index.scss';
nav{
    padding: 0.5em 0;
    .nav-cnt{
        @include flex(none,space-between,none);
        .nav-all-cat{
            cursor: pointer;
            background: transparent;
            @include flex(none,none,none);
            @media screen and (max-width: 640px) {
                font-size: 12px;
            }
            .arrow{
                position: relative;
                top: 4px;
                left: 10px;
                transform: rotate(45deg);
                width: 0.5em;
                height: 0.5em;
                border-width: 0px 2px 2px 0px;
                border-style: solid;
                border-color: white;
                @media screen and (max-width: 640px) {
                    top: 2px;
                    left: 5px;
                }
                &.open{
                    top: 6px;
                    transform: rotate(225deg);
                }
            }
        }
        .nav-navbar{
            @include flex(center,none,row); 
            .nav-list{
                &-link{
                    margin-left: 3em;
                    cursor: pointer;
                }
                @media screen and (max-width: 768px) {
                    display: none;
                }
            } 
        } 
    }
         
}